.mp-stacks-icons{
	display:block;	
}
.mp-stacks-icon{
	display:inline-block;
	text-align:left;
	vertical-align: top;
	margin:0px auto;
	padding:20px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.mp-stacks-icons-icon-title {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.mp-stacks-icons-icon:before {
	font-size:30px;
}
.mp-stacks-icons-icon-container{
	display: inline-block;
	vertical-align:middle;
	text-align:center;
}
.mp-stacks-icon a{
	text-decoration:none;
}
.mp-stacks-icon .mp-stacks-icons-icon-container img{
	margin:0px;	
	display:inline-block;
	vertical-align: top;
}
.mp-stacks-icons-title-text-area{
	display: inline-block;
	vertical-align:middle;
}
.mp-stacks-icons-title{
	display: inline-block;
	font-size: 130%;	
}

.mp-stacks-icons-text{
	display: inline-block;	
	padding-top:10px;
}
.mp-stacks-icons-text > p{
	margin-bottom:10px;
}
.mp-stacks-icons-text > p:last-child{
	margin-bottom:0px;
}
.mp-stacks-icons-clearedfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}